<!-- templates/testCenters/testCenters_home.html -->

{% extends "base.html" %}

{% block title %}VENTURIX - Gestão do Centro de Provas{% endblock %}

{% block body_class %}body-apps-home{% endblock %}

{% block header_title %}Gestão do Centro de Provas{% endblock %}

{% block content %}

<div class="container-home-apps">
    <div class="column-home-apps">
        <h3 class="home-apps-subtitle">Centros de Provas</h3>
        <div class="btn-group-home-apps">
            <a href="{% url 'testcenter_new' %}" class="btn-new btn-transparent" aria-label="Criar novo Centro de Provas">Novo</a>
            <a href="{% url 'testcenter_list' %}" class="btn-list btn-transparent" aria-label="Localizar Centro de Provas">Localizar</a>
        </div>
    </div>

    <div class="column-home-apps">
        <h3 class="home-apps-subtitle">Exames Realizados no Centro de Provas</h3>
        <div class="btn-group-home-apps">
            {# <a href="{% url 'exam_new' %}" class="btn-new btn-transparent" aria-label="Criar novo Exame Realizado no Centro de Provas">Novo</a> #}
            {# <a href="{% url 'exam_list' %}" class="btn-list btn-transparent" aria-label="Localizar Exame Realizado no Centro de Provas">Localizar</a> #}
        </div>
    </div>
</div>

{% endblock %}
