<!-- templates/registration/login.html -->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGA - Login</title>
    {% load static %}
    {% load socialaccount %}
    <!-- Fontes e estilos CSS -->
    {% include 'css_includes.html' %}
</head>
<body class="login-page">
    <div class="login-container">
        <!-- Adicionando a imagem de destaque -->
        <div class="login-image">
            <img src="/static/images/logo-siga-horizontal-negativo-preto.png" alt="Logo SIGA">
        </div>

        <div class="login-box">
            <h2>Acesso ao SIGA</h2>
            <form method="post">
                {% csrf_token %}
                <div class="login-form-group">
                    <label for="{{ form.username.id_for_label }}">Nome de usuário / E-mail:</label>
                    {{ form.username }}
                </div>
                <div class="login-form-group">
                    <label for="{{ form.password.id_for_label }}">Senha:</label>
                    {{ form.password }}
                </div>
                <button type="submit" class="btn-access">Acessar</button>
            </form>
            <!--<hr>
            <div class="password-reset-link">
                <a href="{% url 'password_reset' %}">Esqueceu sua senha?</a>
            </div>-->
        </div>
    </div>
    <!-- Rodapé -->
    {% include 'includes/footer.html' %}
</body>
</html>