/* PÁGINA DE LOGIN */
.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0 20px;
}

.login-box {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
    font-family: 'Montserrat', sans-serif;
}

.login-form-group {
    margin-bottom: 20px;
    text-align: left;
}

.login-form-group label {
    display: block;
    color: black;
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
}

.login-form-group input {
    width: 100% !important;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.login-image {
    margin-top: 20px;
    margin-bottom: 10px;
}

.login-image img {
    display: block;
    max-width: 300px;
    height: auto;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .login-box {
        padding: 20px;
        max-width: 90%;
    }

    .login-form-group input {
        padding: 8px;
    }

    .login-image img {
        max-width: 300px;
    }
}

@media (max-width: 480px) {
    .login-box {
        padding: 10px;
        max-width: 100%;
    }

    .login-form-group input {
        padding: 6px;
    }

    .login-image img {
        max-width: 250px;
    }
}
