/* PAGINAÇÃO */
.pagination-form {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    gap: 1rem;
}

.pagination-form select {
    width: 20%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.pagination-search {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #1A4F45;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Montserrat', sans-serif;
}

.step-links .current {
    margin: 0 10px;
    font-weight: bold;
    color: white;
}