<!-- templates/css_includes.html -->
{% load static %}
<link rel="stylesheet" href="{% static 'shared-styles/css/styles.css' %}">
<link rel="stylesheet" href="{% static 'shared-styles/css/header.css' %}">
<link rel="stylesheet" href="{% static 'shared-styles/css/body.css' %}">
<link rel="stylesheet" href="{% static 'shared-styles/css/apps_detail.css' %}">
<link rel="stylesheet" href="{% static 'shared-styles/css/apps_form.css' %}">
<link rel="stylesheet" href="{% static 'shared-styles/css/apps_home.css' %}">
<link rel="stylesheet" href="{% static 'shared-styles/css/apps_list.css' %}">
<link rel="stylesheet" href="{% static 'shared-styles/css/footer.css' %}">
<link rel="stylesheet" href="{% static 'shared-styles/css/login.css' %}">
<link rel="stylesheet" href="{% static 'shared-styles/css/buttons.css' %}">
<link rel="stylesheet" href="{% static 'shared-styles/css/home.css' %}">
<link rel="stylesheet" href="{% static 'shared-styles/css/modals.css' %}">
<link rel="stylesheet" href="{% static 'shared-styles/css/pagination.css' %}">
<link rel="stylesheet" href="{% static 'shared-styles/css/select2_custom.css' %}">
<link rel="stylesheet" href="{% static 'shared-styles/css/vertical_tab.css' %}">
<link rel="stylesheet" href="{% static 'shared-styles/css/record-counter.css' %}">

<!-- Bootstrap -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css">

<!-- Bootstrap Date Range Picker -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.css">

<!-- FontAwesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

<!-- Select2 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
