<!-- templates/js_includes.html -->
{% load static %}
<script src="{% static 'jquery/jquery.js' %}"></script>
<script src="{% static 'moment/moment.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'daterangepicker/js/daterangepicker.js' %}"></script>
<script src="{% static 'select2/js/select2.min.js' %}"></script>

<script src="{% static 'js/accesskey.js' %}"></script>
<script src="{% static 'js/ajax_table.js' %}"></script>
<script src="{% static 'js/checkbox-toggle.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script src="{% static 'js/form_validation.js' %}"></script>
<script src="{% static 'js/formset.js' %}"></script>
<script src="{% static 'js/input_mask.js' %}"></script>
<script src="{% static 'js/masks.js' %}"></script>
<script src="{% static 'js/modal.js' %}"></script>
<script src="{% static 'js/pagination.js' %}"></script>
<script src="{% static 'js/rtl_number_input.js' %}"></script>
<script src="{% static 'js/select2.js' %}"></script>
<script src="{% static 'js/vertical_tab.js' %}"></script>
